@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Consuming JWT with Jquery</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>

<body>
    <button type="button" id="login">Sign In</button>
    <button type="button" id="logout">Sign Out</button>
    <button type="button" id="showData">Show Data</button>
    <div id="response"></div>

    <script>
        $(document).ready(function () {

            $("#login").click(function () {

                var options = {};
                options.url = "https://localhost:7129/api/Login";
                options.type = "POST";

                var obj = {};

                obj.account = "Emily";
                obj.password = "123";

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "json";

                options.success = function (obj) {
                    localStorage.setItem("token", obj.payload.token);
                    $("#response").html("<h2>User successfully logged in.</h2>");
                };
                options.error = function () {
                    $("#response").html("<h2>Error while calling the Web API!</h2>");
                };
                $.ajax(options);
            });

            $("#showData").click(function () {
                var options = {};
                options.url = "https://localhost:7129/api/JwtAuth/NeedAuth";
                options.type = "GET";
                options.beforeSend = function (request) {
                    let token = localStorage.getItem("token");
                    request.setRequestHeader("Authorization",
                        "Bearer " + token);
                };
                options.dataType = "json";
                options.success = function (data) {
                    var table = "<table border='1' cellpadding='10'>";
                    data.payload.forEach(function (element) {
                        var row = "<tr>";
                        row += "<td>";
                        row += element.account;
                        row += "</td>";
                        row += "</tr>";
                        table += row;
                    });
                    table += "</table>";
                    $("#response").append(table);
                };
                options.error = function (a, b, c) {
                    $("#response").html("<h2>Error while calling the Web API! (" + b + " - " + c + ")</h2>");
                };
                $.ajax(options);
            });

            $("#logout").click(function () {
                localStorage.removeItem("token");
                $("#response").html("<h2>User successfully logged out.</h2>");
            });
        });
    </script>
</body>

</html>